# dependencies
node_modules

# package manager
.pnpm-store
.pnpm-debug.log*

# environment files
.env
.env.*
!.env.example

# build outputs
.next
out
build
coverage
dist

# TypeScript
*.tsbuildinfo

# Prisma generated client
apps/backend/generated/prisma

# IDE / OS
.DS_Store
.idea
.vscode

# local app env files
apps/backend/.env
apps/frontend/.env
