@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";
/* We use cupcake as base but then override some colors to match our branding. */
@plugin "daisyui/theme" {
	theme: cupcake;
	default: true;
	--color-primary-content: white;
	--color-secondary-content: white;
	--color-accent-content: white;
	--color-neutral-content: white;
	--color-info-content: white;
	--color-success: #02592e;
	--color-success-content: white;
	--color-warning-content: white;
	--color-error-content: white;
}

* {
	box-sizing: border-box;
}

@theme {
	--text-2xl: clamp(1.5rem, 1.25rem + 1vw, 2rem);
	--text-3xl: clamp(1.75rem, 1.5rem + 1.5vw, 2.5rem);
	--text-4xl: clamp(2rem, 1.5rem + 2vw, 3rem);
}

html {
	min-height: 100%;
	background: var(--color-base-100);
	color: var(--color-base-content);
	font-family:
		var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
	min-height: 100vh;
	margin: 0;
	background: var(--color-base-100);
	color: var(--color-base-content);
	font-family:
		var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, "Segoe UI", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}
